DATABASE_URL="mysql://user:password@localhost:3306/iqfinansai"
AUTH_SECRET="buraya-guclu-bir-secret-yaz"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GEMINI_API_KEY=""
RESEND_API_KEY=""

RESEND_FROM=""

NEXT_PUBLIC_SUPPORT_EMAIL=""

SHOPIER_PREMIUM_URL="https://www.shopier.com/iqfinansai/46432141"
SHOPIER_API_SECRET=""
SHOPIER_OSB_USERNAME=""
SHOPIER_OSB_PASSWORD=""

COLLECTAPI_API_KEY=""
